<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>First website</title>
  </head>
  <body>
    {{> header}}
    <p>{{formatMessage welcomeMsg}}</p>
    {{> footer}}
  </body>
</html>